<div class="row">
  <div class="col-md-6">
    <h3>Friday</h3>
    <table class="table table-striped">
      <tr><td> Before </td><td> <a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td></tr>
      <tr><td> Prereq </td><td> <a href="https://hpc-workshops.github.io/ctcms-hpc-intro/setup.html" target="_blank" rel="noopener noreferrer">Software setup</a> </td></tr>
      <tr><td> 11:00 </td><td> Introduction to High-Performance Computing</td></tr>
      <tr><td> 12:00 </td><td>  5 min break </td></tr>
      <tr><td> 13:00 </td><td> 15 min break </td></tr>
      <tr><td> 14:00 </td><td>  5 min break </td></tr>
      <tr><td> 15:00 </td><td> 15 min break </td></tr>
      <tr><td> 16:00 </td><td> Wrap-up      </td></tr>
      <tr><td> 16:30 </td><td> END          </td></tr>
      <tr><td> After </td><td> Post-workshop survey</td></tr>
    </table>
  </div>
</div>
