<h3 id="videoconferencing">Virtual Workshop via Google Meet</h3>

{% comment %}
Replace the paragraph below with the relevant installation instructions
if you do not use Zoom
{% endcomment %}
<p>
  Google Meet is a video service that runs through your browser,
  making it easy to connect from any device. It has a relatively
  simple interface, which we will quickly review when the Workshop
  begins. The link to join is in the collaborative notes document.
</p>

<p class="text-center">
  <a href="https://codimd.carpentries.org/vMa56R8dRJyExGw111zvog?both">
    <button type="button" class="btn btn-info">Open the Collaborative Document</button>
  </a>
</p>

<h4>Set up your workspace</h4>

<p>
  Like other Carpentries workshops,
  you will be learning by "coding along" with the Instructors as we
  explore the cluster.
  To do this, you will need to have:
  <ul>
    <li>
      <strong>A connection to the campus network</strong> through the
      VPN. We will do our best to manage the streaming video
      footprint, but the success of the Workshop depends on running
      commands on the CTCMS machines directly.
    </li>
    <li>
      <strong>Google Meet in a browser window</strong> so you can see
      what the Instructor is presenting.
    </li>
    <li>
      <strong><a href="https://codimd.carpentries.org/vMa56R8dRJyExGw111zvog?both">Collaborative notes</a> in a browser
      tab</strong> or window so you can see reference materials, ask
      questions, and help one another. Note that CodiMD will ask you
      to log in, without an option to sign up. Whatever you enter the
      first time becomes your login for the site.
    </li>
    <li>
      <strong>A terminal window</strong> so you can see
      what the Instructor is presenting.
    </li>
  </ul>

  This <a href="https://carpentries.org/blog/2020/06/online-workshop-logistics-and_screen-layouts/" target="_blank">blog post</a> includes detailed information on how to set up your screen to follow along during the workshop.
</p>
